spring:
  datasource:
    name: auth_service
    url: jdbc:postgresql://postgres:5432/auth_service
    username: myuser
    password: secret
  application:
    name: auth-service
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        batch_size: 100
        fetch_size: 100
        format_sql: true
        use_sql_comments: true
        use_reflection_optimizer: true
        generate_statistics: true
    open-in-view: false
    database: postgresql
  threads:
    virtual:
      enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://eureka:passw0rd@discovery-server:8761/eureka/
server:
  port: 0
application:
  jwt:
    secret: verysecretkeyWhichIsVeryLongAndHardToGuessSoYouShouldChangeItPleaseAndThankYou
    header: Authorization
    prefix: Bearer
    expiration: 86400000
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
loki:
  url: http://loki:3100/loki/api/v1/push
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  observations:
    key-values:
      application: api-gateway
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://tempo:9411