spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        batch_size: 100
        fetch_size: 100
        format_sql: true
        use_sql_comments: true
        use_reflection_optimizer: true
        generate_statistics: true
    open-in-view: false
    database: postgresql
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - openid
              - email
              - profile
  freemarker:
    check-template-location: false
springdoc:
  swagger-ui:
    path: /swagger-ui
    oauth:
      client-id:
      client-secret:
      scopes:
        - openid
        - email
        - profile
    oauth2-redirect-url: http://localhost:8080/login/oauth2/code/google
jwt:
  secret: verysecretkeyWhichIsVeryLongAndHardToGuessSoYouShouldChangeItPleaseAndThankYou