spring:
  application:
    name: instrument-service
  data:
    mongodb:
      database: instruments
      host: mongodb
      port: 27017
      username: root
      password: secret
      uri: mongodb://root:secret@mongodb:27017
  threads:
    virtual:
      enabled: true
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
      micrometer:
        enabled: true
eureka:
  client:
    service-url:
      defaultZone: http://eureka:passw0rd@discovery-server:8761/eureka/
server:
  port: 0
application:
  jwt:
    secret: verysecretkeyWhichIsVeryLongAndHardToGuessSoYouShouldChangeItPleaseAndThankYou
    header: Authorization
    prefix: Bearer
    expiration: 86400000
api:
  key:
    inventory: INVENTORY_SERVICE_TOKEN
    self: INSTRUMENT_SERVICE_TOKEN
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs
management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  observations:
    key-values:
      application: api-gateway
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://tempo:9411
resilience4j:
  circuitbreaker:
    configs:
      default:
        register-health-indicator: true
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 5
        automatic-transition-from-open-to-half-open-enabled: true
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50
        minimum-number-of-calls: 5
  timelimiter:
    configs:
      default:
        cancel-running-future: true
        timeout-duration: 3s
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 1s
loki:
  url: http://loki:3100/loki/api/v1/push