spring:
  application:
    name: discovery-server
  security:
    user:
      name: eureka
      password: password
  threads:
    virtual:
      enabled: true
eureka:
  username: eureka
  password: passw0rd
  instance:
    hostname: localhost
  client:
    register-with-eureka: false
    fetch-registry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8761
loki:
  url: http://loki:3100/loki/api/v1/push
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  observations:
    key-values:
      application: api-gateway
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://tempo:9411